In [1]:
# opposite way to print i
i=5
n =0
while i>n:
    print(i)
    i-=1

5
4
3
2
1

In [3]:
# another way without n
i=5
while i:
    print(i)
    i-=1

5
4
3
2
1

In [4]:
i=0
n=5
while i<n:
    print(n-i)
    i+=1

5
4
3
2
1

In [5]:
name = "karunesh"

In [6]:
for alphabet in name:
    print("bye")

bye
bye
bye
bye
bye
bye
bye
bye

In [7]:
for alphabet in name:
    print(alphabet)

k
a
r
u
n
e
s
h

In [8]:
for alphabet in name:
    print(name)

karunesh
karunesh
karunesh
karunesh
karunesh
karunesh
karunesh
karunesh

In [10]:
parchi = ['aaloo', 'tamatar', 'bhindi', 'banana']
for sabzi in parchi:
    print(sabzi)

aaloo
tamatar
bhindi
banana

In [14]:
name =("kanu","bansal","gupta")
for item in name:
    print("hello",item)

hello kanu
hello bansal
hello gupta

In [15]:
# set meine se item 
s = {6,7,8,9}
for i in s:
    print(i)

8
9
6
7

In [17]:
i =0
n=5
while i<n:
    print(i)
    i+=1

0
1
2
3
4

In [16]:
for i in range(5): # ending index
    print(i)

0
1
2
3
4

In [20]:
for i in range(5,15,2): #start index and ending index and stepsize
    print(i)

5
7
9
11
13

In [21]:
name = "karunesh"
for i in range(len(name)): 
    print(name[i])

k
a
r
u
n
e
s
h

In [11]:
a = [10, 89, 9, 56, 4, 80, 8,90]
min_element = a[0]

for i in range(len(a)):
  if a[i] < a[0]:
     a[0] = a[i]

print (a[0])

4

In [23]:
a =[4,3,2,7,9,1]
max_element = a[0]
min_element = a[1]
for i in range(len(a)):
    if a[i] > a[0]:
        a[0] = a[i]

    if a[i] < a[1]:
        a[1] = a[i]
print(a[0])         
print(a[1])

9
1

In [19]:
arr = [10, 89, 9, 56, 4, 80, 8]
mini = arr[0]
maxi = arr[0]

for i in range(len(arr)):
  if arr[i] < mini: 
    mini = arr[i] 
  
  if arr[i] > maxi: 
    maxi = arr[i]

print (mini)
print (maxi)

4
89

In [1]:
names = ["karunesh", "akansha"]
for name in names:
    print(name)

karunesh
akansha

In [2]:
names = ["karunesh", "akansha"]
for i in names:
    print(i)

karunesh
akansha

In [3]:
# environment variable

In [4]:
#if you dn't have file then install pip install filename

In [5]:
pip install pandas

Requirement already satisfied: pandas in c:\users\diksha\anaconda3\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\diksha\anaconda3\lib\site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\diksha\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\diksha\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\diksha\anaconda3\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\diksha\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [6]:
import numpy

In [7]:
import random

In [8]:
"random.py"

'random.py'

In [9]:
# randmos se three chize assign kr skte hai variable, classes

In [11]:
random.randint(1,10)  # it has many algorithms and it will choose one graph

10

In [13]:
li = []
for i in range(15):
    num = random.randint(1,10)
    print(num, end=" ")
    li.append(num)
li

10 8 5 4 7 9 5 4 6 10 2 6 10 7 10

[10, 8, 5, 4, 7, 9, 5, 4, 6, 10, 2, 6, 10, 7, 10]

In [14]:
li =[2,3,4,5]
a = []
for i in li:
    s = i **2
    a.append(s)
print(li)
print(a)

[2, 3, 4, 5]
[4, 9, 16, 25]

In [15]:
a =[]
for i in range(5):
    a.append(random.randint(1,10))
a

[1, 8, 5, 1, 6]

In [18]:
# list comprehension same code but different and easy way under this append value first writter
a =[random.randint(1,10) for i in range(5)]
a

[7, 9, 1, 2, 2]

In [19]:
l = [i**2 for i in a]  # list comprehension
print(a)
print(l)

[7, 9, 1, 2, 2]
[49, 81, 1, 4, 4]

In [21]:
l = [a[i]**2 for i in range(len(a))]  # item get a[i]
print(a)
print(l)

[7, 9, 1, 2, 2]
[49, 81, 1, 4, 4]

In [23]:
print(a)   # second way to square of items
l =[]
for i in range(len(a)):
    l.append(a[i]**2)
print(l)

[7, 9, 1, 2, 2]
[49, 81, 1, 4, 4]

In [24]:
#zip items ko sath meine le ata hai and used in dic comprehensive

In [25]:
name =["karunesh", "kanu","bansal"]
age = [20,14,15]

In [26]:
li =[]
for i,j in zip(name,age):
    print(i,j)

karunesh 20
kanu 14
bansal 15

In [28]:
d ={}
for i,j in zip(name,age):
    d[i] = j

In [29]:
d

{'karunesh': 20, 'kanu': 14, 'bansal': 15}

In [30]:
# another way # dic comprehensive
{i:j for i,j in zip(name,age)}

{'karunesh': 20, 'kanu': 14, 'bansal': 15}

In [31]:
# map function