In [9]:
i = 0
n = 7 # rows
while i < n:
    j = 0
    m = 4  # columns
    while j< m:
        print(j,end="")
        j+=1
    print() # used for enter statement
    i +=1

0123
0123
0123
0123
0123
0123
0123

In [10]:
# square pattern
i = 0
n = 7 # rows
while i < n:
    j = 0
    while j< n:
        print(i,end="")
        j+=1
    print() # used for enter statement
    i +=1

0000000
1111111
2222222
3333333
4444444
5555555
6666666

In [13]:
# triangle pattern
i = 0
n = 7 # rows
while i < n:
    j = 0
    while j < i+1: # if we don't use 1 then 00 will not be print
        print("*",end="") # we can use i replace * 
        j+=1
    print() # used for enter statement
    i +=1

*
**
***
****
*****
******
*******

In [25]:
# reverse triangle
i = 0
n =5
while i<n:
    j = 0
    while j<n-i:
        print(n-i-1, end="") # if we write n-i-1 then 0 will be print
        j+=1

    print()
    i+=1

44444
3333
222
11
0

In [50]:
# without m
i = 0
n = 5
while i < n:
    j = 0
    while j< n:
        if i ==0 or i == n-1 or j ==0 or j == n-1:
            print("*",end="")
        else:
            print(" ", end="")
        j+=1
    print() 
    i +=1

*****
*   *
*   *
*   *
*****

In [28]:
# with m
i = 0
n = 7 # rows
while i < n:
    j = 0
    m = 4  # columns
    while j< m:
        if i ==0 or i == n-1 or j ==0 or j == m-1:
            print(j,end="")
        else:
            print(" ",end="")
        j+=1
    print() # used for enter statement
    i +=1

0123
0  3
0  3
0  3
0  3
0  3
0123

In [29]:
# enter se phele triangle and rectangle print

i = 0
n = 5
while i < n:
    k =0
    while k<i:  # for triangle
        print(" ", end="")
        k+=1
        
    j =0
    while j<n:
        print("*", end="")
        j+=1
    print() 
    i +=1

*****
 *****
  *****
   *****
    *****

In [34]:
# for opposite
i = 0
n = 5
while i < n:
    k =0
    while k<n-i:  # for triangle
        print(" ", end="")
        k+=1
        
    j =0
    while j<n:
        print("*", end="")
        j+=1
    print() 
    i +=1

     *****
    *****
   *****
  *****
 *****

In [41]:
i = 0
n = 5
while i < n:
    k =0
    while k<n-i:  # for triangle
        print(" ", end="")
        k+=1
        
    j =0
    while j<i*2-1:
        print("*", end="")
        j+=1
    print() 
    i +=1

     *********
    *******
   *****
  ***
 *

In [42]:
# j<n for square
# while

In [49]:
i = 0
n = 5
while i < n:
    k =0
    while k<n-i:  # for triangle
        print(" ", end="")
        k+=1
        
    j =0
    while j<i*2-1:
        print("*", end="")
        j+=1
    l =0
    while l<i:
        print("", end="")
        l +=1
    m = 0
    while m <(n-1)*2-1:
        print("*", end="")
        m +=1
    
    print() 
    i +=1

     *******
    ********
   **********
  ************
 **************

In [7]:
i = 0
n = 7 # rows
while i < n:
    j = 0
    while j< n:
        print("*",end="")
        j+=1
        l =0
    while l<i:
        print("", end="")
        l +=1
    print() 
    i +=1

*******
*******
*******
*******
*******
*******
*******

In [29]:
i =0
n = 7
while i<n:
    j =0
    while j<n-i:
        print("x", end="")
        j+=2
        k =0
        
        while k<n-i:
            print("y", end="")
            k+=2
    print("*")
    i+=1

xyyyyxyyyyxyyyyxyyyy*
xyyyxyyyxyyy*
xyyyxyyyxyyy*
xyyxyy*
xyyxyy*
xy*
xy*

In [1]:
le i <= n:
    # Print leading spaces
    j = 0
    while j < i-1:
        print(" ", end="")
        j += 3

    # Print stars and spaces
    k = 0
    while k <= (n* 2 - (2 * i - 1)):
        if i == 1 or k == 0 or k == (n * 2 - (2 * i - 1)):
            print("*", end="")
        else:
            print(" ", end="")
        k += 1
n = 10
i = 1
whi
    print()
    i += 2

SyntaxError: invalid syntax (4270538544.py, line 1)

In [2]:
i =0
n= 5
while i<n:
    j=0
    while j<n-i:

_IncompleteInputError: incomplete input (2031831389.py, line 6)